upstream prosody_upstream {
    hash $arg_room consistent;
{% for clusterNode in groups[shardName] %}
    server {{ clusterNode }}{{ dnsdomain }}:5280; # shard1
{% endfor %}
}

map $arg_room $jitsi_upstream {
    default prosody_upstream;
}
