upstream prosody_upstream {
    hash $arg_room consistent;
{% for clusterNode in groups[shardName] %}
    server {{ clusterNode }}{{ dnsdomain | default('') }}:5280; # {{ shardName }}
{% endfor %}
}

map $arg_room $jitsi_upstream {
    default prosody_upstream;
}
