server {
    listen 9001;
    listen [::]:9001;
    server_name *{{ dnsdomain | default('') }} localhost;

    location /status {
       # mhascaro GmbH Thingsboard server
       allow 85.214.69.246/32;
       allow 152.89.105.150/32;
       # localhost for telegraf
       allow 127.0.0.1;
       deny all;
       vhost_traffic_status_display_sum_key all;
       vhost_traffic_status_bypass_limit on;
       vhost_traffic_status_bypass_stats on;
       vhost_traffic_status_display;
       vhost_traffic_status_display_format json;
    }
}
