org.jitsi.jicofo.BRIDGE_MUC=JvbBrewery@internal.auth.{{ shardName }}
org.jitsi.jicofo.ALWAYS_TRUST_MODE_ENABLED=true
org.jitsi.jicofo.jibri.BREWERY=JibriBrewery@internal.auth.{{ shardName }}
org.jitsi.jicofo.jibri.PENDING_TIMEOUT=90
org.jitsi.jicofo.BridgeSelector.BRIDGE_SELECTION_STRATEGY=IntraRegionBridgeSelectionStrategy
org.jitsi.jicofo.SHORT_ID=42
org.jitsi.jicofo.auth.jetty.port=9002
org.jitsi.jicofo.auth.jetty.host=0.0.0.0
org.jitsi.jicofo.health.ENABLE_HEALTH_CHECKS=true
{% if enableFeaturesBasedOnToken is defined %}
org.jitsi.jicofo.auth.URL=EXT_JWT:{{ shardName }}
{% endif %}