videobridge {
    apis {
        rest {
            # enable colibri rest interface
            enabled = true
        }
        xmpp-client {
            configs {
{% for prosodyDomain in prosodyDomains %}
{% for signalserverhostname in groups[prosodyDomain] %}
                shard-{{ prosodyDomain }}-{{ signalserverhostname }} {
                    hostname = "{{ signalserverhostname }}"
                    domain = "auth.{{ prosodyDomain }}"
                    username = "jvb"
                    password = "{{ prosody_user_jvb_password }}"
                    muc_jids = "JvbBrewery@internal.auth.{{ prosodyDomain }}"
                    muc_nickname = "{{ hostname }}"
                    disable_certificate_verification = true
                }
{% endfor %}
{% endfor %}
            }
        }
    }
    http-servers {
        private {
            host = "0.0.0.0"
            port = "9000"
        }
       public {
            port = "9090"
         }
    }
    octo {
        enabled = true
        bind-address = "{{ internal_interface }}"
        bind-port = "4096"
        region = "{{ userRegion }}"
    }
    rest {
        shutdown {
            enabled = true
        }
    }
    stats {
        enabled = true
        interval = 10 seconds
        transports = [
            { type = "muc" }
        ]
    }
    websockets {
        enabled = true
        domain = "{{ hostname }}:443"
        server-id = "{{ hostname }}"
        tls = true
    }
}
