upstream prosody_upstream {
    hash $arg_room consistent;
{% if cluster_partner is defined %}
{% for clusterNode in groups[shardName] %}
    server {{ clusterNode }}:5280; # {{ shardName }}
{% endfor %}
{% endif %}
}

map $arg_room $jitsi_upstream {
    default prosody_upstream;
}
