var config = {
    hosts: {
        domain: '{{ shardName }}',
        authdomain: '{{ shardName }}',
        focus: 'focus.{{ shardName }}',
        muc: 'conference.<!--# echo var="subdomain" default="" -->{{ shardName }}'
    },
    bosh: '//<!--# echo var="http_host" -->/<!--# echo var="subdir" default="" -->http-bind',
    websocket: 'wss://{{ instance }}/xmpp-websocket',
    clientNode: 'http://jitsi.org/jitsimeet',
    testing: {
        p2pTestMode: false
    },
    disableAudioLevels: true,
    enableNoAudioDetection: true,
    enableNoisyMicDetection: true,
    startAudioMuted: 13,
    maxFullResolutionParticipants: 8,
    enableLayerSuspension: true,
    startVideoMuted: 13,
    desktopSharingFrameRate: {
         min: 5,
         max: 20
    },
    channelLastN: -1,
    lastNLimits: {
         5: 20,
         30: 15,
         50: 10,
         70: 5,
         90: 2
    },
    enableWelcomePage: true,
    enableClosePage: true,
    defaultLanguage: 'de',
{% if enableFeaturesBasedOnToken is defined and enableFeaturesBasedOnToken == True %}
    enableFeaturesBasedOnToken: true,
{% endif %}
{% if disableInviteFunctions is defined and disableInviteFunctions == True %}
    disableInviteFunctions: true,
{% endif %}
    prejoinPageEnabled: true,
    enableInsecureRoomNameWarning: true,
    disableThirdPartyRequests: true,
    p2p: {
        enabled: false,
        useStunTurn: true,
        stunServers: [
            { urls: 'stun:{{ turnservername }}:443' }
        ],
    },
    analytics: {
    },
    deploymentInfo: {
        // shard: "shard1",
        region: "BW",
        userRegion: "BW"
    },
    deploymentUrls: {
{% if instanceVars.userDocumentationURL is defined %}
        userDocumentationURL: '{{ instanceVars.userDocumentationURL }}',
{% endif %}
{% if instanceVars.downloadAppsUrl is defined %}
        downloadAppsUrl: '{{ instanceVars.downloadAppsUrl }}',
{% endif %}
    },

{% if instanceVars.toolbarButtons is defined %}
    toolbarButtons: [ 
       {{ instanceVars.toolbarButtons }}
    ],
{% endif %}

{% if instanceVars.dialInNumbers is defined %}
dialInConfCodeUrl: 'https://{{ instance }}/conferenceMapper',
dialInNumbersUrl: 'https://{{ instance }}/numbers.json',
{% endif %}
{% if instanceVars.additionalConfig is defined %}
{{ instanceVars.additionalConfig }}
{% endif %}
    makeJsonParserHappy: 'even if last key had a trailing comma'
};
