videobridge {
    apis {
        rest {
            # enable colibri rest interface
            enabled = true
        }
        xmpp-client {
            configs {
{% for signalserverhostname in groups['frontendserver-debian'] %}
{% for prosodyDomain in  prosodyDomains %}

                shard-{{ prosodyDomain }}-{{ signalserverhostname }} {
                    hostname = "{{ signalserverhostname }}"
                    domain = "auth.{{ prosodyDomain }}"
                    username = "jvb"
                    password = "{{ prosody_user_jvb_password }}"
                    muc_jids = "JvbBrewery@internal.auth.shardopenjitsi"
                    muc_nickname = "{{ hostname }}"
                    disable_certificate_verification = true
                }
{% endfor %}
{% endfor %}
            }
        }
    }
    http-servers {
        private {
            host = "0.0.0.0"
            port = "9000"
        }
        public {
            port = "9090"
        }
    }
    octo {
        enabled = true
        bind-address = "{{ internal_interface }}"
        bind-port = "4096"
        region = "BW"
    }
    rest {
        shutdown {
            enabled = true
        }
    }
    websockets {
        enabled = true
        domain = "{{ frontenddnsname }}:443"
        server-id = "{{ hostname }}"
        tls = true
    }
}
