# Jigasi settings
JIGASI_SIPUSER={{ jigasi_sipuser }}
JIGASI_SIPPWD={{ jigasi_sippwd }}
JIGASI_OPTS=""
JIGASI_HOSTNAME={{ jigasi_hostname }}
JIGASI_HOST={{ jigasi_host }}

# adds java system props that are passed to jigasi (default are for logging config file)
JAVA_SYS_PROPS="-Djava.util.logging.config.file=/etc/jitsi/jigasi/logging.properties"
