<html>
<head>
    <!--#include virtual="/base.html" -->
    <link rel="stylesheet" href="css/all.css"/>
    <!--#include virtual="/title.html" -->
</head>
<body>
    <div class = 'unsupported-desktop-browser'>
        <h2 class = 'unsupported-desktop-browser__title'>
            Sie verwenden einen nicht mehr unterst&uuml;tzen Browser.
        </h2>
        <p class ='unsupported-desktop-browser__description'>
            Jitsi Meet verwendet das WebRTC Protokol f&uuml;r die Video und Audio&uuml;bertragung. Einige Browser, darunter auch Firefox, Safari und der Internet Explorer, unterst&uuml;tzen WebRTC als Protokol f&uuml;r Videokonferenzen nicht.
            Wir empfehlen die Nutzung von&nbsp;
            <a
                className = 'unsupported-desktop-browser__link'
                href = 'https://www.google.com/chrome/' >Chrome</a>&nbsp;und&nbsp;
            <a
                class = 'unsupported-desktop-browser__link'
                href = 'https://www.chromium.org/'>Chromium</a>
        </p>
        <p class ='unsupported-desktop-browser__description'>
                Vielen Dank f&uuml;r Ihr Verst&auml;ndnis.
        </p>
    </div>
</body>
</html>
