<title>{{ instanceVars.APP_NAME }}</title>
<meta property="og:title" content="{{ instanceVars.APP_NAME }}"/>
<meta property="og:image" content="images/jitsilogo.png?v=1"/>
<meta property="og:description" content="{{ instanceVars.title_description }}"/>
<meta description="{{ instanceVars.title_description }}""/>
<meta itemprop="name" content="{{ instanceVars.APP_NAME }}"/>
<meta itemprop="description" content="{{ instanceVars.title_description }}"/>
<meta itemprop="image" content="images/jitsilogo.png?v=1"/>
<link rel="icon" type="image/png" href="images/favicon.ico?v=1"/>
